body {
    width: 500px;
    height: 500px;
    background-color: #000;
    font: 'Open Sans';
    text-align: center;
    font-size: 18px;
}

.logo {
    width: 100px;
    height: 100px;
}

.title {
    color: #e70706;
}

.nod {
    color: #e70706;
}

.v {
    color: #e70706;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 4px;
    padding: 0 8px;
}

.rate-button {
    background-color: #e70706;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.report-a-bug-button {
    background-color: #e70706;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.github-button {
    background-color: #e70706;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.changelog-button {
    background-color: #e70706;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

